.form__wrap {
	width: 100%;
	max-width: 500px;
	padding: 35px 100px;
	border-radius: 45px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form__title {
	margin-bottom: 40px;
	color: #1d65ad;
	font-size: 24px;
	text-align: center;
	font-weight: 700;
}

.form__button {
	display: block;
	max-width: 160px;
	margin: 40px auto;
	padding: 12px 30px;
	line-height: 30px;
	font-size: 17px;
	border-radius: 45px;
	outline: none;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	background-color: #ffc123;
	border: none;
	text-align: center;
}

.form__button:disabled {
	cursor: default;
	opacity: 0.5;
}

.form__fields__group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.form__fields__group__control {
	border-radius: 5px;
	padding: 5px;
	outline: none;
	border: 1px solid #e2e2e2;
	font-size: 12px;
}
.form__fields__group__label {
	font-weight: 700;
}

.form__status {
	opacity: 0;
	color: green;
	text-align: center;
}

.form__status--success {
	opacity: 1;
	color: green;
	text-align: center;
}
