.category {
	height: 70%;
	margin: auto;
}

.category__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.15px;
	color: #1D65AD;
	text-align: center;
}

.controls {
	width: 100%;
	display: flex;
	list-style: none;
	padding-left: 0;
	justify-content: center;
	margin: 20px 0 15px;
}

.controls__button {
	max-height: 30px;
	padding: 12px 24px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 45px;
	outline: none;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	text-decoration: none;
	color: #000000;
	background-color: #fff;
	border: none;
	position: relative;
	flex-shrink: 0;
}

.controls__button--active {
	border: 2px solid #9DCEFF;
	cursor: default;
	box-shadow: none;
}

.controls__button:not(:first-child) {
	margin-left: 31px;
}

.controls__button-image {
	position: absolute;
	top: 0;
	right: 0;
}

.list__view-type {
	max-width: 1132px;
	margin: 0 auto;
}
.list__view-type a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;

	letter-spacing: 0.15px;

	color: #494949;
	padding-bottom: 3px;
	border-bottom: none;
	text-decoration: none;
}

.list__view-type--active {
	color: #000000 !important;
	border-bottom: 2px solid #9DCEFF !important;
}
