.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(./shared/images/country.png);
  background-repeat: no-repeat;
  background-position: center;
}

.home__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.0897771px;
  margin-bottom: 20px;

  color: #1D65AD;
}

.home__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0897771px;
  margin-bottom: 50px;

  color: #72A9CF;
}

.start-button {
  color: #fff;;
  padding: 13px 29px;
  background: #3399FF;;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
  text-decoration: none;
}