.map__container {
	width: 80%;
	height: 100%;
	margin: 0 auto 15px;
	position: relative;
}

.map__container__loader {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #7d7d7d;
}

.map__label {
	margin-bottom: 10px;
	text-align: center;
	font-family: Roboto;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: #7d7d7d;
}

.map__legend {
	max-width: 1132px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
