.about {
	width: 100%;
	height: 100%;
	display: flex;
	max-width: 1132px;
	margin: auto;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: url(../home/shared/images/country.png);
	background-repeat: no-repeat;
	background-position: center;
}

.about__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	width: 370px;
	/* or 125% */

	text-align: center;
	letter-spacing: 0.15px;
	margin-bottom: 30px;

	color: #1d65ad;
}

.about__text {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	max-width: 500px;
	text-align: center;
	/* or 143% */

	letter-spacing: 0.15px;

	color: #333;
}

.about__text-strong {
	margin: 0 0 5px;
}
