.region-list {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 1132px;
	justify-content: center;
	margin: auto;
}

.list {
	display: flex;
	flex-flow: column wrap;
	list-style: none;
	padding-left: 0;
	max-height: 500px;
	max-width: 1132px;
	/* margin: 0 auto; */
}

.list__item {
	max-width: 120px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.list__item__icon {
	width: 12px;
	height: 12px;
	border-radius: 89%;
	margin-right: 5px;
	flex-shrink: 0;
}

.list__item__icon--red {
	background-color: #ff5c5c;
}
.list__item__icon--green {
	background-color: #7dff5c;
}
.list__item__icon--orange {
	background-color: #ffac60;
}
.list__item__icon--yellow {
	background-color: #fcff6c;
}

.list a {
	font-size: 12px;
	text-decoration: none;
	color: #000;
	margin-bottom: 5px;
	max-width: 50px;
	padding-right: 10px;
	cursor: default;
}

.filters {
	color:  #494949;
	margin: 13px 0px;
	display: flex;
	font-size: 12px;
}

.filters__link {
	color:  #494949;
	cursor: pointer;
	margin-left: 13px;
	text-decoration: underline;
}

.filters__link--active {
	font-weight: 600;
	text-decoration: none;
}