.app {
	height: 90%;
}

.app-header {
	display: flex;
	align-items: inherit;
	justify-content: space-between;
	padding: 0 65px;
	max-width: 1132px;
	margin: 31px auto;
}

.app-header__link-content {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.app-header__link {
	text-decoration: none;
	color: #000;
}

.app-header__link:not(:first-child),
.app-header__link:not(:last-child) {
	margin-right: 50px;
}

.app-header__link:hover {
	text-decoration: underline;
}

.app-header__link-icon {
	margin-right: 8px;
}

.app-header__link-label {
	height: 100%;
}

/* Reusable */
.margin-left-auto {
	margin-left: auto;
}

.not_found__wrap {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.not_found__content {
}
.not_found__title {
	margin-top: -30px;
	font-weight: bold;
	font-size: 56px;
}

.map_image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.7;
}
